<h1>Add a new Tag</h1>

<form action="/favorites/<%= favoriteId %>/tags" method="POST" role="form">
  <div class="form-group">
    <label for="tagName">Tag Name:</label>
    <input type="text" class="form-control" id="tagName" placeholder="#hashtag" name="tagName">
  </div>



  <button type="submit" class="btn btn-primary">Submit Tag</button>
</form>